@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg.jpg");
    background-attachment: fixed;    
}

/* global */

a {
    transition: all 0.2s ease-in-out !important;
}

a:hover {
    color: #18bfef !important;
    border-color: #18bfef;
}


/* specific */
#header{
    text-align: center;
    margin: 10% 0 6% 0;
}

#header .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 250%;
    color: #ffffff;    
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    border: 5px solid #ffffff;
    padding: .5rem 2rem;
    transition: border 0.2s ease-in-out;    
}

#header .logo:hover {
    border: 5px solid #18bfef;    
}

#nav { 
    background-color: rgba(255, 255, 255, 0.175); 
    width: 85%;
    line-height: 4rem;
    height: 4rem;
    padding: 0 2rem 0 0;
    margin: 0 auto;
}

.page-links li {
    list-style: none;
    float: left;
}

.page-links li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 1.4rem 2.5rem;
}
.page-links li .this {
    color: #000000;
    background-color: #ffffff;
}
.page-links li .not-this {
    -webkit-transition: all .7s ease;  
    -moz-transition: all .7s ease;  
    -o-transition: all .7s ease;  
    -ms-transition: all .7s ease;  
    transition: all .7s ease;
}

.page-links li .not-this:hover {
    background-color: rgba(255, 255, 255, 0.356); 
    color: #ffffff;
}

.social-links li {
    list-style: none;
    float: right;
}

.social-links li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 1.4rem 1rem;
}

#nav::after {
    content: '';
    display: block;
    clear: both;
}

.menu {
    display: none;
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    background-color: rgba(255, 255, 255, 0.651);
    padding: .7em;
    box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
}

.menu:hover {
    cursor: pointer;
}

.menu .submenu {
    display: inline-block;
}

.menu .submenu div {
    width: 1.2em;
    height: 2px;
    background-color: #212931;
    margin: 0 2px;
}

.menu .submenu:first-child {
    font-size: 16px;
    font-weight: bold;
}

.menu .submenu div:nth-child(2) {
    margin: 3px 2px;
}

@media screen and (max-width: 480px) {
    #header {
        margin: 40% 0 6% 0;
    }
}

/* side Nav */

.nav-bar {
	background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-transition: all .7s ease-in-out;  
    -moz-transition: all .7s ease-in-out;  
    -o-transition: all .7s ease-in-out;  
    -ms-transition: all .7s ease-in-out;  
    transition: all .7s ease-in-out;
}
.side-nav {
    background-color: #ffffff;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 1em;
    -webkit-transition: all .7s ease-in-out;  
    -moz-transition: all .7s ease-in-out;  
    -o-transition: all .7s ease-in-out;  
    -ms-transition: all .7s ease-in-out;  
    transition: all .7s ease-in-out;
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 2;
    color: #212931; 
    text-align: right;
    display: block;   
}
.side-nav-page-links li {
    padding: 1em;
    border-top: 1px solid #212931;
}

.side-nav-page-links li a{
    font-size: 1.5em;
}

.side-nav div {
    margin-bottom: 1.5em;
}
.side-nav a {
    text-decoration: none;
    color: #212931;
    font-size: 2em;
}

.side-nav ul {
    list-style: none;
    text-align: left;
}

.side-nav-social {
    margin-top: 4em;
}

.side-nav-social li {
    display: inline-block;
    margin: .5em;
}

/* medid query */

@media screen and (max-width: 980px) {
    #nav {
        display: none;
    }
    .menu {
        display: block;
    }
}

/* Main */

.main {
    width: 85%;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0 0 0;
    font-family: "Merriweather", Georgia, serif;
}

.post {
    margin: 5%;
}

.date {
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #ffffff 45%, #00000088 45%, #00000088 50%, #ffffff 50%, #ffffff 100%);
}

.date span {
    background-color: #ffffff;
    padding: 0 1rem; 
    font-family: "Merriweather", Georgia, serif;
}

.major h1 {
    margin: 4rem ;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 0.075em;
    color: #212931;
}

.major p {
    letter-spacing: 0.075em;
    color: #212931;
    font-style: italic;
    padding:  0 10rem;
    line-height: 2rem;
    margin-bottom: 5%;
    font-size: 1.2rem;
}

.image {
    width: 100%;
    padding: 0;
    display: block;
    margin-bottom: 5%;    
}

.image img {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.post p {
    letter-spacing: 0.075em;
    color: #212931;
    line-height: 2rem;
    margin-bottom: 5%;
    text-align: justify;
    font-size: 1.0em;    
}
.post-body {
    font-family: "Merriweather", Georgia, serif;
    letter-spacing: -.1;
}
.post-body aside {
    text-align: left;
}

.post-body aside h3 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
}

.post-body p b {
    font-weight: bold;
    letter-spacing: normal;    
}

.post-body p strong {
    font-weight: bolder;
}

.post-body p i {
    font-style: italic;
}
.post-body p em {
    font-style: italic;
}

.post-body p sub {
    vertical-align: sub;
    font-size: smaller;
}

.post-body p sup {
    vertical-align: super;
    font-size: smaller;
}

.post-body p code {
    background-color: #F6F6F6;
    font-family: monospace;
    padding: .3em .5em;
    display: inline-block;
    border: 1px solid rgb(212, 212, 214);
}

.post-body p a {
    text-decoration: none;
    border-bottom: 1px dotted #212931;
    color: #212931;
}
.post-body h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: 900;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.075em; 
    margin: 0rem 0;   
}
.post-body h2 {
    font-size: 1.6rem;
}

.post-body h3 {
    font-size: 1.5rem;
}

.post-body h4 {
    font-size: 1.4rem;
}

.post-body h5 {
    font-size: 1.3rem;
}

.post-body h6 {
    font-size: 1.2rem;
}

.post-body hr {
    border: none;
    border-bottom: 3px solid #EDEDEE;
    width: 100%;
    margin: 1.5rem auto 3rem;
}

.post-body header p{
    font-style: italic;
    margin: 0rem 0 2rem;
}

.post-body .list .uol {
    width: 50%;
    float: left;
    padding-left: 2rem;
    margin-bottom: 3rem;
}

.post-body .list .uol li {
    text-align: left;
    padding: .5rem;
}

.icons li {
    
    list-style: none;
    float: left;
    margin: 0rem;
    padding: 0;
    text-align: center;
}

.uol a {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: #212931;
    font-size: 1.2rem;
}


.list::after {
    content: '';
    clear: both;
    display: block;
}

.actions .button {
    color: #ffffff;
    background-color: rgb(53, 62, 75);
    border: none;
    outline: none;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    margin: 0 1rem 2rem;
    border-bottom: 2px solid darken(#252C35,3%);
    border-radius: 3px;
    box-shadow: 0 5px 0px darken(#252C35,0%);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    height: 4rem;
}

.actions .effect-0:hover {
    cursor: pointer;
    background-color: #18bfef;
    border-bottom: 2px solid darken(#051d24,3%);
    box-shadow: 0 5px 0px darken(#072f3a,0%);    
    transition: all 0.1s ease-in;   
}

.actions .push:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
}

.actions aside {
    padding: 1rem;
}

.actions .small {
    width: 10rem;
}

.actions .medium {
    width: 20rem;
}

.actions .large {
    width: 30rem;
}

.actions .effect-1,.actions .effect-2,.actions .effect-3 {
    overflow: hidden;
    margin: auto;
    padding-top: 1.5rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
}

.effects {
    text-align: center;
}

.actions .effect-1:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 0rem;
}

.actions .effect-2::before {
    content: '\f178';
    font-family: FontAwesome;
    font-size: 2rem;
    position: absolute;
    bottom: -1.6rem;
    left: 45%;
    padding-left: 5%;
}

.effect-2:hover > .text {
    display: none;
    padding: 0rem;
}

.actions .effect-3::before {
    content: '\f0a4';
    font-family: FontAwesome;
    position: absolute;
    right: -2rem;
    padding: 0 .5rem 0 .2rem;
    height: 100%;
    width: 1.1rem;
    background-color: #bdbcbc;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50% 0 0 50%;
}

.actions .text {
    padding: 0;
    margin: 0;
}

.actions .effect-2::before,.actions .effect-1::before, .actions .effect-3::before {
    -webkit-transition: all .2s;  
    -moz-transition: all .2s;  
    -o-transition: all .2s;  
    -ms-transition: all .2s;  
    transition: all .2s;
}

.actions .effect-1:hover::before {
    font-size: 1rem;
    padding-right: .5rem;
} 

.actions .effect-2:hover::before {
    bottom: 1rem;
    left: 40%;
}

.actions .effect-3:hover::before {
    right: -.2rem;
}

.block-quote {
    border-left: 4px solid #EDEDEE;
    padding: 1.5rem;
    font-style: italic;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 2.9rem;
}

table {
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: left;
    border-collapse: collapse;
}

.table-wrapper thead tr {
    font-size: .6rem;
    font-weight: bold;
}

.table-wrapper tbody tr {
    font-size: 1.1rem;
}

.table-wrapper tr {
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-wrapper th:nth-child(2n), td:nth-child(2n) {
    width: 60%;
    padding: 1rem;
    margin: 0;
}

.table-wrapper th:nth-child(2n+1), td:nth-child(2n+1) {
    width: 20%;
    padding: 1rem;
    margin: 0;
}

.table-wrapper thead th {
    text-transform: uppercase;
    font-size: .7rem;
}

.table-wrapper th:nth-child(3),td:nth-child(3) {
    text-align: center;
}

.table-wrapper tbody tr:nth-child(2n+1) {
    background-color: rgba(220, 220, 220, 0.25);
}

.border-table td {
    border: 1px solid #EDEDEE;
}

.form {
    text-align: left;
    width: 100%;
    padding: 0;
    text-transform: capitalize;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form input[type="text"], input[type="email"],input[type="radio"], input[type="checkbox"], select, textarea {
    padding: .5rem 1rem;
    margin: .5rem;
    width: calc(50% - 1.19999rem);
    border: 2px solid #e2e2e2;
    font-size: 1.2rem;  
    outline-color: #118df3;
    margin-bottom: 1.5rem;  
}

textarea {
    width: 98.5%;
}

.dropdown {
    width: 98.5%;
    background-color: transparent;
    -webkit-transition: all .5s ease;  
    -moz-transition: all .5s ease;  
    -o-transition: all .5s ease;  
    -ms-transition: all .5s ease;  
    transition: all .5s ease;
}

.container {
    display: inline-block;
    position: relative;
    padding: 0 2.1rem 0;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1.5rem;    
    
}

.checks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.rd {
    width: 33%;
}

.cb {
    width: 50%;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    -webkit-transition: all .5s ease;  
    -moz-transition: all .5s ease;  
    -o-transition: all .5s ease;  
    -ms-transition: all s ease;  
    transition: all .5s ease;
}

.radio {
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
    
}

.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: all .5s ease;  
    -moz-transition: all .5s ease;  
    -o-transition: all .5s ease;  
    -ms-transition: all s ease;  
    transition: all .5s ease;
    
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container input:checked ~ .checkmark:after {
    left: .5rem;
    top: .3rem;
    width: .3rem;
    height: .7rem;
    border: solid white;
    border-width: 0 .2rem .2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fit img {
    width: 100%;
    margin-bottom: 1rem;
}
.image-set {
    width: 100%;
    text-align: left;
}

.image-set img {
    padding: 0;
    box-sizing: border-box;
    width: calc(33.33333% - 1rem);
    float: left;
    border-collapse: collapse;
    margin: .5rem;
}

.image-set::after {
    content: '';
    display: block;
    clear: both;
}

        /* ammet */

.post-button {
    display: block;
    width: 15rem;
    height: 3rem;
    margin: auto;
    text-decoration: none;
    font-weight: 900;
    color: #212931;
    border: 2px solid #212931;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: .9rem;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin-bottom: 2rem;
}

.posts {
    width: 100%;

}

.post-body .article {
    width: 49%;
    text-align: center;
    border-top: 2px solid #aaa9a9;
    display: inline-block;
}

.article .date {
    background: transparent;
    margin-top: 2rem;
}

article .more {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */
    position: relative;
    top: -8rem;
    padding-top: 3rem;
}

.article h3 {
    text-align: center;
    margin: 2rem 0;
}

.article .post-button {
    width: 7rem;
    margin-bottom: 0;
    border-radius: 100px;
    font-size: .8rem;
}

.article img,p {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.page-nav {
    color: #252C35;
    width: 70%;
    margin: auto;
    
}

.page-nav a, .page-nav span {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
    max-width: 3.5rem;
    height: 3rem;
    border: 2px solid #EEEEEE;
    align-items: center;
    margin-left: -6px;
    text-decoration: none;
    color: #252C35;
}

.current-page {
    background-color: #EEEEEE;
}
/* 
.page-nav .next::after{
    content: '\f105';
    margin-right: 0.9375em;
    font-family: FontAwesome;
    /* float: right;     */


@media screen and (max-width: 980px) {
    .main {
        width: 95%;
    }
    .post p {
        text-align: justify;
    }
    .major h1 {
        margin: 4rem 0rem
    }
    .major p {
        width: 100%;
        padding: 0;
        margin: initial auto;
        text-align: justify;
    }
    .page-nav a,.page-nav span {
        display: none;
    }
    .page-nav a:last-child {
        display: inline-flex;
    }
}

@media screen and (max-width: 480px) {
    :root {
        font-size: 15px;
    }
    .main {
        width: 100%;
    }
    .major h1 {
        font-size: 2.1rem;
    }
    .major p {
        text-align: center;
        font-size: 1.2rem;
    }
    .image-set img {
        width: calc(100% - 1rem);
    }
    .form input[type="text"], input[type="email"],input[type="radio"], input[type="checkbox"], select, textarea {
        width: calc(100% - 1.19999rem);
    }

    .actions .small {
        width: 8rem;
    }

    .actions .medium {
        width: 15rem;
    }

    .actions .large {
        width: 20rem;
    }
    .container input {
        display: block;
    }
    .article .more {
        top: -7rem;
    }
    .post-body .article {
        width: 100%;
    }
    
}

/* footer */

#footer {
    text-align: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}



#footer .section {
    background-color: rgba(220, 220, 220, 0.5);
    padding: 3rem 0 0 0;
    width: 50%;
}

.feild, .alt {
    padding: 0 3rem 3rem 3em;    
}

.feild label {
    color: #212931;
    font-size: 1.5rem;
}

.feild input {
    height: 2.5rem;
    color: #212931;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid #bdbcbc;
}

.contact section {
    border-top: 2px solid #bdbcbc;
}

.contact section:first-child {
    border: none;
}

.alt h3 {
    color: #212931;
    font-size: 1.5rem;
    padding-top: 1em;
}
.alt:first-child h3 {
    padding-top: 0;
}

.alt p {
    letter-spacing: 0.075em;
    color: #212931;
    line-height: 2rem;
    margin-top: .5em;
    text-decoration: none;
    /* border-bottom: 1px #212931 dotted; */
}

.alt p a {
    text-decoration: none;
    color: #212931;
    font-size: 1.5rem;
    margin: 1em 2rem;
}

.feild input ,.feild textarea {
    background-color: transparent;
    margin-top: .5rem;
    border: 2px solid #e2e2e2;
    width: 80%;
    padding: .25rem;
    font-size: 1.5rem;    
}

.feild button {
    background-color: transparent;
    margin-top: 0rem;
    border: 2px solid #aaa9a9;
    width: 40%;
    padding: .25rem;
    font-size: 1.5rem;
    color: #212931;
}

@media screen and (max-width: 980px) {
    #footer {
        display: block;
    }

    #footer .section {
        width: 100%;
    }

    .alt p a {
        margin: 1rem;
    }

.feild input ,.feild textarea {    
        width: 100%;
    }

    .contact {
        border: none;
        border-top: 2px solid #bdbcbc;
    }
    
}

@media screen and (max-width: 480px) {
    .feild button {
        width: 100%;
    }

}
 /* Copyright */

#copyright {
    margin: 4rem auto;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

#copyright ul {
    text-align: center;
    list-style: none;
    display: inline-block;
    
}

#copyright ul li {
    border-left: solid 2px;
    display: inline-block;
    line-height: 1;
    margin-left: 1rem;
    padding-left: 1rem;
}

#copyright ul li:first-child {
    border: none;
}

#copyright ul li a {
    color: #212931
}